.container {

}

.title {
    font-family: 'Garage Gothic', sans-serif;
    font-size: 3em;
    font-weight: 700;
    text-transform: uppercase;
}

.subtitle {
    font-family: 'Sina nova', serif;
    font-size: 2em;
}
