.container {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
}

.main {
    width: 60%;
    flex-grow: 1;
}

.left, .right {
    width: 20%;
    background-color: #ededed;
    overflow-y: scroll;
}

/* stylelint-disable-next-line selector-pseudo-class-no-unknown, selector-class-pattern */
:global(.ck.ck-content) {
    border: 1px solid transparent !important;
    box-shadow: none !important;
}

/* stylelint-disable-next-line selector-pseudo-class-no-unknown, selector-class-pattern */
:global(.ck.ck-powered-by) {
    display: none;
    visibility: hidden;
}
