// @import '~@niche-js/core/scss/placeholders';
// @import '~@niche-js/core/scss/variables';

.container {
    position: relative;
    min-height: 20px;
    border: 1px solid grey;
    margin: 2px 0;
    background: #f1f1f1;
}
