.container {
    position: relative;
    width: 100%;
    height: 100%;
}

.button {
    display: block;
    margin: 0 0 10px;
}

.outline {
    padding: 10px;
}

.outlineButton {
    text-align: left;
}

.outlineLabel {
    overflow: hidden;
    margin-bottom: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.pre {
    margin-right: 5px;
    font-weight: bold;
}

.settings {
    /* overflow: hidden; */
    max-width: 100%;
}



.right {
    padding: 10px 5px;
}

.fields {
    display: block;
    padding: 0 5px;

    input {
        max-width: 100%;
    }
}

:root {
    --ck-focus-ring: 1px solid transparent;
    --ck-inner-shadow: none;
}

/* .modals {

} */

/* stylelint-disable-next-line selector-pseudo-class-no-unknown, selector-class-pattern */
:global(.placeholder) {
    background-color: transparent;
    cursor: default;
}

/* stylelint-disable-next-line selector-pseudo-class-no-unknown, selector-class-pattern */
:global(.ck.ck-content) {
    border: 1px solid transparent !important;
    box-shadow: none !important;
}

/* stylelint-disable-next-line selector-pseudo-class-no-unknown, selector-class-pattern */
:global(.ck.ck-powered-by) {
    display: none;
    visibility: hidden;
}

/* stylelint-disable-next-line selector-pseudo-class-no-unknown, selector-class-pattern */
:global(.ck.ck-editor__editable .ck-widget .ck-widget__type-around__button) {
    display: none;
    visibility: hidden;
}

/* stylelint-disable-next-line selector-pseudo-class-no-unknown, selector-class-pattern */
:global(.ck.ck-editor__nested-editable, .ck .ck-editor__nested-editable:focus) {
    border: 1px solid black;
}

/* stylelint-disable-next-line selector-pseudo-class-no-unknown, selector-class-pattern */
:global(.ck.ck-editor__editable figure.ck-widget) {
    min-height: 30px; /* Images */
}


