.container {
    position: relative;
    width: 100%;
    height: 100%;

    /* stylelint-disable-next-line selector-pseudo-class-no-unknown, selector-class-pattern */
    :global(.ck.ck-content) {
        border: 1px solid transparent !important;
        box-shadow: none !important;
    }

    /* stylelint-disable-next-line selector-pseudo-class-no-unknown, selector-class-pattern */
    :global(.ck.ck-powered-by) {
        display: none;
        visibility: hidden;
    }
}

.button {
    display: block;
    margin: 0 0 10px;
}

.outline {
    padding: 10px;
}

.outlineButton {
    text-align: left;

}

.outlineLabel {
    overflow: hidden;
    margin-bottom: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.pre {
    margin-right: 5px;
    font-weight: bold;
}

.settings {
    overflow: hidden;
    width: 100%;
    max-width: 100%;
}

.right {
    padding: 10px 5px;
}

.fields {
    display: block;
    padding: 0 5px;

    input {
        max-width: 100%;
    }
}


